@import "flex_mixins";
@import "shadow_mixins";
@import "pligor_mixins";
@import "mymixins";

.equipment_requests {
    width: 980px;

    padding-left: 20px;
    padding-right: 20px;

    color: dimgray;

    > .title {
        text-transform: capitalize;
        font-weight: bold;
        font-size: large;
    }

    .the_requests {
        margin-top: 10px;
        padding-left: 30px;

        //.debug();
    }

    button {
        margin-top: 10px;

        padding-left: 10px;
        padding-right: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
        background-color: red;
        border: none;
        color: white;
    }
}
