@import "flex_mixins";
@import "shadow_mixins";
@import "pligor_mixins";
@import "mymixins";

.equipment_request {
    label {
        color: dimgray;
        font-size: small;

        text-transform: capitalize;

        &::after {
            content: ":";
        }

        span.noupper {
            text-transform: none;
        }
    }

    .specific_fields {
        .flexwrapper();
        .flexalignitems(center);

        width: 850px;

        margin-top: 20px;

        .inputfield {
            margin-right: 20px;

            .flexwrapper();

            input.large {
                width: 350px;
            }
        }

        button {
            background-color: red;
            color: white;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 10px;
            padding-right: 10px;
            border: 0;
            margin: 0;
        }
    }

    .comments {
        margin-top: 10px;

        label {
            display: block;
        }

        textarea {
            margin-top: 5px;

            width: 900px;
            height: 120px;
        }
    }

    hr {
        margin-top: 20px;
        .hrcolor(black);
    }
}
