@import "flex_mixins";
@import "shadow_mixins";
@import "pligor_mixins";
@import "mymixins";

div.event {
    color: dimgray;

    width: 980px;
    padding-left: 20px;
    padding-right: 20px;

    > .title {
        font-size: xx-large;
        color: black;
        text-transform: capitalize;
        font-weight: bolder;
    }

    hr {
        .hrcolor(black);
        margin-top: 15px;
    }

    .formatinput() {
        width: 300px;
        padding: 5px;
    }

    .formatEntireField() {
        .flexbox();
        .flexjustifycontent(space-between);
        .flexalignitems(center);

        width: 450px;
        margin-right: 20px;
        margin-top: 5px;
    }

    .formatlabel() {
        text-transform: capitalize;
        font-size: small;
        &::after {
            content: ":";
        }
    }

    .basic {
        //.debug();

        .flexbox();
        .flexwrap(wrap);

        margin-top: 10px;

        .inputfield {
            .formatEntireField();
            //.debug();

            label {
                .formatlabel();

                .noupper {
                    text-transform: none;
                }

                .upper {
                    text-transform: uppercase;
                }
            }

            input {
                .formatinput();
            }
        }
    }

    .dates {
        margin-top: 15px;

        .flexbox();

        .date {
            .formatEntireField();

            label {
                .formatlabel();
            }

            input {
                .formatinput()
            }
        }
    }

    .mrm {
        .flexbox();
        .flexjustifycontent(space-between);
        .flexalignitems(center);

        width: 500px;

        margin-top: 15px;

        label {
            .formatlabel();
            text-transform: none;
        }

        input {
            .formatinput();
        }
    }

    .event_contact {
        margin-top: 20px;

        .title {
            text-transform: capitalize;
            font-weight: bold;
        }

        .form {
            margin-top: 10px;

            .names {
                .flexbox();

                .name {
                    .formatEntireField();

                    label {
                        .formatlabel();
                    }

                    input {
                        .formatinput();
                    }
                }
            }

            .email {
                margin-top: 10px;

                .formatEntireField();

                label {
                    .formatlabel();
                }

                input {
                    .formatinput();
                }
            }

            .phones {
                margin-top: 10px;

                .flexbox();

                .phone {
                    .formatEntireField();

                    label {
                        .formatlabel();
                    }

                    input {
                        .formatinput();
                    }
                }
            }
        }

    }
}
