@import "flex_mixins";
@import "shadow_mixins";
@import "pligor_mixins";
@import "mymixins";

.event_venue {

    label {
        color: dimgray;
        font-size: small;

        text-transform: capitalize;

        &::after {
            content: ":";
        }
    }

    input {
        padding: 5px;
    }

    .venue_name {
        margin-top: 20px;

        width: 500px;

        .flexwrapper();
        .flexjustifycontent(space-between);
        .flexalignitems(center);

        //.debug();

        input {
            width: 300px;
        }

        button {
            background-color: red;
            color: white;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 10px;
            padding-right: 10px;
            border: 0;
        }
    }

    .venue_location {
        margin-top: 15px;

        width: 850px;
        //.debug();

        .flexbox();
        .flexjustifycontent(space-between);

        .inputfield {
            .flexbox();
            .flexjustifycontent(space-between);
            .flexalignitems(center);

            width: 270px;
        }
    }

    hr {
        margin-top: 20px;
        .hrcolor(black);
    }
}
