@import "flex_mixins";
@import "shadow_mixins";
@import "pligor_mixins";

section#footer {
    margin-top: 5px;

    width: 980px;
    padding: 10px;

    background-color: lightgrey;
    color: dimgrey;

    ul {
        //list-style: none;
        font-size: small;
        line-height: 2em;

        li {
            span {
                text-transform: capitalize;
            }
        }
    }

    div {
        text-align: center;
        font-size: small;
    }
}
