@import "flex_mixins";
@import "pligor_mixins";
@import "mymixins";
@import "shadow_mixins";

.form_content_layout {
    width: 980px;

    .save_button {
        padding-right: 20px;
        margin-top: 10px;

        .flexbox();
        .flexjustifycontent(flex-end);

        button {
            background-color: red;
            border: 0;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 10px;
            padding-right: 10px;
            color: white;

            .text_shadow(1px, 1px, 1px, dimgray);
        }
    }

    article#eventlocations {
        margin-top: 15px;
    }
}
