@import "flex_mixins";

section#header {
    width: 980px;
    background-color: #0095D7;

    padding-left: 20px;
    padding-right: 20px;

    .flexwrapper();
    .flexjustifycontent(space-between);

    .leftpart {
        .flexbox();
        .flexalignitems(flex-end);

        margin-top: 10px;
        margin-bottom: 10px;

        img {
            width: 60px;
            height: 60px;
        }

        div {
            margin-left: 40px;
            text-transform: uppercase;
            color: white;
        }
    }

    .rightpart {
        .flexbox();
        .flexalignitems(flex-end);

        margin-top: 15px;
        margin-bottom: 15px;

        color: white;

        .login {
            margin-right: 20px;
            font-size: small;
            line-height: 1.5em;

            .login_prefix {
                span {
                    text-transform: capitalize;
                }
            }
        }

        .portal {
            text-transform: uppercase;
            font-size: large;

            .emphasis {
                font-weight: bold;
            }
        }

    }
}
