@import "flex_mixins";
@import "shadow_mixins";
@import "pligor_mixins";
@import "mymixins";

section#mainmenu {
    width: 980px;

    margin-top: 25px;

    padding-left: 20px;
    padding-right: 20px;

    .actions {
        .flexwrapper();
        .flexjustifycontent(space-between);

        ul {
            .flexbox();
            //.flexalignitems(flex-end);

            color: gray;
            text-transform: uppercase;
            list-style: none;

            .invisible {
                visibility: hidden;
            }

            li {
                //.debug();
                padding-left: 15px;
                padding-right: 0;
                margin-right: 0;
            }

            .icon-down-dir {
                color: lightgrey;
                padding-left: 0;
                margin-left: 0;
            }
        }

        button {
            .flexbox();
            //.flexalignitems(flex-end);
            text-transform: uppercase;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 3px;
            padding-bottom: 3px;

            background-color: red;
            color: white;
            border: 0;

            font-size: small;

            .text_shadow(1px, 1px, 1px, dimgray);
        }
    }

    hr {
        margin-top: 5px;

        .hrcolor(black);
    }
}
