/*
row (default): left to right in ltr; right to left in rtl
row-reverse: right to left in ltr; left to right in rtl
column: same as row but top to bottom
column-reverse: same as row-reverse but bottom to top
*/
/*
flex-start (default): items are packed toward the start line
flex-end: items are packed toward to end line
center: items are centered along the line
space-between: items are evenly distributed in the line; first item is on the start line, last item on the end line
space-around: items are evenly distributed in the line with equal space around them. Note that visually the spaces aren't equal, since all the items have equal space on both sides. The first item will have one unit of space against the container edge, but two units of space between the next item because that next item has it's own spacing that applies.
*/
/*
align-self: auto | flex-start | flex-end | center | baseline | stretch;

Note that float, clear and vertical-align have no effect on a flex item.
*/
/**
It does not seem to work
*/
/*.flexjustifyself(@value) {
    justify-self: @value;
}*/
/**
one div get shrinked very little and the other gets shrinked a lot
especially useful when you need
*/
/*
target: some attribute (like width, height, min-width, min-height, etc.)
args: 100% - 80px etc.

sample usage: .mycalculate(min-width, ~"100% - @{minRightColumnHowItWorksWidth}");
*/
section#mainmenu {
  width: 980px;
  margin-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
}
section#mainmenu .actions {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
section#mainmenu .actions ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  color: gray;
  text-transform: uppercase;
  list-style: none;
}
section#mainmenu .actions ul .invisible {
  visibility: hidden;
}
section#mainmenu .actions ul li {
  padding-left: 15px;
  padding-right: 0;
  margin-right: 0;
}
section#mainmenu .actions ul .icon-down-dir {
  color: lightgrey;
  padding-left: 0;
  margin-left: 0;
}
section#mainmenu .actions button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: red;
  color: white;
  border: 0;
  font-size: small;
  text-shadow: 1px 1px 1px dimgray;
}
section#mainmenu hr {
  margin-top: 5px;
  border: 0;
  border-top: 1px solid;
  border-color: black;
}
