<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Form</title>
    <link href="/favicon.ico" type="image/x-icon" rel="icon"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/generic.css" rel="stylesheet">
    <link href="css/fontello.css" rel="stylesheet">

    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/mainmenu.css">
    <link rel="stylesheet" href="css/footer.css">

    <link rel="stylesheet" href="css/formcontentlayout.css">

    <link rel="stylesheet" href="css/event.css">

    <link rel="stylesheet" href="css/event_locations.css">
    <link rel="stylesheet" href="css/event_venue.css">

    <link rel="stylesheet" href="css/equipment_requests.css">
    <link rel="stylesheet" href="css/equipment_request.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
            type="text/javascript"></script>
    <script type="text/javascript">
        (typeof(window.Modernizr) === "undefined") &&
        document.writeln('<script src="js/vendor/modernizr-2.8.3.min.js" type="text/javascript"><\/script>')
    </script>
</head>
<body>

<!--<div class="equipment_request">-->
<script type="text/template" id="equipmentRequest_template">
    <div class="specific_fields">
        <div class="inputfield">
            <label for="eqRequest_deviceType">device type</label>
            <input id="eqRequest_deviceType" class="large" type="text" value="<%= deviceType %>"/>
        </div>

        <div class="inputfield">
            <label for="eqRequest_qtyRequired">qty required</label>
            <input id="eqRequest_qtyRequired" type="number" value="<%= qtyRequired %>"/>
        </div>

        <div class="inputfield">
            <label for="eqRequest_qtyToShip">qty <span class="noupper">to</span> ship</label>
            <input id="eqRequest_qtyToShip" type="number" value="<%= qtyToShip %>"/>
        </div>

        <button class="icon-trash-empty"></button>
    </div>
    <div class="comments">
        <label for="eqRequest_comments">comments</label>
        <textarea id="eqRequest_comments"><%= comments %></textarea>
    </div>

    <hr/>
</script>
<!--</div>-->

<!--<div class="equipment_requests">-->
<script type="text/template" id="equipmentRequests_template">
    <div class="title">equipment requests</div>

    <div class="the_requests">

    </div>

    <button class="icon-plus"></button>
</script>
<!--</div>-->

<!--<div class="event_venue">-->
<script type="text/template" id="eventvenue_template">
    <div class="venue_name">
        <label for="eventVenue_venueName">venue name</label>
        <input id="eventVenue_venueName" type="text" value="<%= venueName %>"/>
        <button class="icon-trash-empty"></button>
    </div>

    <div class="venue_location">
        <div class="inputfield">
            <label for="eventVenue_city">city</label>
            <input id="eventVenue_city" type="text" value="<%= city %>"/>
        </div>

        <div class="inputfield">
            <label for="eventVenue_state">st/prov</label>
            <input id="eventVenue_state" type="text" value="<%= state %>"/>
        </div>

        <div class="inputfield">
            <label for="eventVenue_country">country</label>
            <input id="eventVenue_country" type="text" value="<%= country %>"/>
        </div>
    </div>

    <hr/>
</script>
<!--</div>-->

<!--<div class="event_locations">-->
<script type="text/template" id="eventLocations_template">
    <div class="title">event locations</div>
    <div class="explanations">
        <p>Enter Venue details here and click Add</p>

        <p>Enter as many Event Venues as you need, then click Next</p>
        <!-- click next ?? there is no next in the page -->
    </div>

    <div class="venues">

    </div>

    <button class="icon-plus"></button>

    <hr/>
</script>
<!--</div>-->

<!--<div class="event">-->
<script type="text/template" id="eventsetup_template">
    <div class="title">event setup</div>

    <div class="basic">
        <div class="inputfield">
            <label for="eventSetup_eventName">event name</label>
            <input id="eventSetup_eventName" type="text" value="<%= eventName %>"/>
        </div>

        <div class="inputfield">
            <label for="eventSetup_businessGroup">business group</label>
            <input id="eventSetup_businessGroup" type="text" value="<%= businessGroup %>"/>
        </div>

        <div class="inputfield">
            <label for="eventSetup_eventType">type <span class="noupper">of</span> event</label>
            <input id="eventSetup_eventType" type="text" value="<%= eventType %>"/>
        </div>

        <div class="inputfield">
            <label for="eventSetup_eventRegion">region</label>
            <input id="eventSetup_eventRegion" type="text" value="<%= eventRegion %>"/>
        </div>

        <div class="inputfield">
            <label for="eventSetup_timezone">time<span class="upper">z</span>one</label>
            <input id="eventSetup_timezone" type="text" value="<%= timezone %>"/>
        </div>

        <div class="inputfield">
            <label for="eventSetup_customerSegment">customer segment</label>
            <input id="eventSetup_customerSegment" type="text" value="<%= customerSegment %>"/>
        </div>
    </div>

    <hr/>

    <div class="dates">
        <div class="date">
            <label for="eventSetup_startDate">start date</label>
            <input id="eventSetup_startDate" type="date" value="<%= startDate %>"/>
        </div>

        <div class="date">
            <label for="eventSetup_endDate">end date</label>
            <input id="eventSetup_endDate" type="date" value="<%= endDate %>"/>
        </div>
    </div>

    <div class="mrm">
        <label for="eventSetup_mrmMasterCampaignName">MRM Master Campaign Name</label>
        <input id="eventSetup_mrmMasterCampaignName" type="text" value="<%= mrmMasterCampaignName %>">
    </div>

    <div class="event_contact">
        <p class="title">event contact</p>

        <div class="form">
            <div class="names">
                <div class="name">
                    <label for="eventSetup_firstname">first name</label>
                    <input id="eventSetup_firstname" type="text" value="<%= firstname %>">
                </div>

                <div class="name">
                    <label for="eventSetup_lastname">last name</label>
                    <input id="eventSetup_lastname" type="text" value="<%= lastname %>">
                </div>
            </div>
            <div class="email">
                <label for="eventSetup_email">e-mail address</label>
                <input id="eventSetup_email" type="email" value="<%= email %>">
            </div>

            <div class="phones">
                <div class="phone">
                    <label for="eventSetup_officePhone">office phone</label>
                    <input id="eventSetup_officePhone" type="tel" value="<%= officePhone %>">
                </div>

                <div class="phone">
                    <label for="eventSetup_mobilePhone">mobile phone</label>
                    <input id="eventSetup_mobilePhone" type="tel" value="<%= mobilePhone %>">
                </div>
            </div>
        </div>
    </div>

    <hr/>
</script>
<!--</div>-->

<!--<div class="form_content_layout">-->
<script type="text/template" id="FormContentLayout_template">
    <article id="eventsetup">

    </article>

    <article id="eventlocations">

    </article>

    <article id="equipmentrequests">

    </article>

    <div class="save_button">
        <button>save</button>
    </div>
</script>
<!--</div>-->

<script type="text/template" id="mainlayout_template">
    <section id="header">
        <div class="leftpart">
            <img src="img/hplogo.png"/>

            <div>event setup</div>
        </div>

        <div class="rightpart">
            <div class="login">
                <div class="login_prefix"><span>logged</span> in as</div>
                <div class="login_name">Hotech IBC 2013!</div>
            </div>
            <div class="portal">
                <div class="portal_up"><span class="emphasis">b</span>card</div>
                <div class="portal_down">portal</div>
            </div>
        </div>
    </section>

    <section id="mainmenu">
        <div class="actions">
            <ul>
                <li>
                    <span>events</span>
                    <span class="icon-down-dir invisible"></span>
                </li>
                <li>
                    <span>surveys</span>
                    <span class="icon-down-dir invisible"></span>
                </li>
                <li>
                    <span>profile</span>
                    <span class="icon-down-dir"></span>
                </li>
                <li>
                    <span>content</span>
                    <span class="icon-down-dir invisible"></span>
                </li>
            </ul>

            <button>log off</button>
        </div>

        <hr/>
    </section>

    <section id="content">

    </section>

    <section id="footer">
        <ul>
            <li><span>terms</span> and <span>conditions</span></li>
            <li><span>contact</span></li>
            <li><span>privacy</span></li>
        </ul>
        <div>BCARD Platform, BCARD Reader and BCARD Portal are products of the ITN International</div>
    </section>
</script>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20140204/json2.min.js"></script>-->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>

<!--http://stackoverflow.com/questions/5257923/how-to-load-local-script-files-as-fallback-in-cases-where-cdn-are-blocked-unavai/5531821-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"
        type="text/javascript"></script>
<script type="text/javascript">
    (typeof(_) === "undefined") &&
    document.writeln('<script src="bower_components/underscore/underscore-min.js" type="text/javascript"><\/script>')
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.0/backbone-min.js" type="text/javascript"></script>
<script type="text/javascript">
    (typeof(Backbone) === "undefined") &&
    document.writeln('<script src="bower_components/backbone/backbone-min.js" type="text/javascript"><\/script>')
</script>


<!--replacing it with the core of backbone marionette which does not include babysitter, neither wreqr-->
<!--<script src="bower_components/marionette/lib/backbone.marionette.js" type="text/javascript"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.4.1/core/backbone.marionette.min.js"
        type="text/javascript"></script>
<script type="text/javascript">
    (typeof(Marionette) === "undefined") &&
    document.writeln('<script src="bower_components/marionette/lib/core/backbone.marionette.min.js" type="text/javascript"><\/script>')
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.babysitter/0.1.6/backbone.babysitter.min.js"
        type="text/javascript"></script>
<script type="text/javascript">
    (typeof(Backbone.ChildViewContainer) === "undefined") &&
    document.writeln('<script src="bower_components/backbone.babysitter/lib/backbone.babysitter.min.js" type="text/javascript"><\/script>')
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.radio/0.9.0/backbone.radio.min.js"
        type="text/javascript"></script>
<script type="text/javascript">
    (typeof(Backbone.Radio) === "undefined") &&
    document.writeln('<script src="bower_components/backbone.radio/build/backbone.radio.min.js" type="text/javascript"><\/script>')
</script>

<script type="text/javascript" src="js/vendor/radio.shim.js"></script>
<script type="text/javascript" src="ts/typescript.js"></script>

<script type="text/javascript" src="ts/models/EventModel.js"></script>
<script type="text/javascript" src="ts/models/EventLocationModel.js"></script>
<script type="text/javascript" src="ts/models/EquipmentRequestModel.js"></script>

<script type="text/javascript" src="ts/collections/EventCollection.js"></script>
<script type="text/javascript" src="ts/collections/EventLocationsCollection.js"></script>
<script type="text/javascript" src="ts/collections/EquipmentRequestsCollection.js"></script>

<script type="text/javascript" src="ts/traits/ViewTraits.js"></script>

<script type="text/javascript" src="ts/compositeviews/MyCompView.js"></script>
<script type="text/javascript" src="ts/compositeviews/EventLocationsCompView.js"></script>
<script type="text/javascript" src="ts/compositeviews/EquipmentRequestsCompView.js"></script>

<script type="text/javascript" src="ts/itemviews/EquipmentRequestItemView.js"></script>
<script type="text/javascript" src="ts/itemviews/EventLocationItemView.js"></script>
<script type="text/javascript" src="ts/itemviews/EventSetupItemView.js"></script>

<script type="text/javascript" src="ts/layouts/FormContentLayout.js"></script>
<script type="text/javascript" src="ts/layouts/MainLayout.js"></script>

<script type="text/javascript" src="ts/form.js"></script>

</body>
</html>
