<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Table</title>
    <link href="/favicon.ico" type="image/x-icon" rel="icon"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">


    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/generic.css" rel="stylesheet">
    <link href="css/fontello.css" rel="stylesheet">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
            type="text/javascript"></script>
    <script type="text/javascript">
        (typeof(window.Modernizr) === "undefined") &&
        document.writeln('<script src="js/vendor/modernizr-2.8.3.min.js" type="text/javascript"><\/script>')
    </script>
</head>
<body>

<style scoped>
    th, td {
        padding: 10px;
    }

    a {
        cursor: pointer;
    }
</style>

<script type="text/template" id="event_template">
    <table>
        <thead>
        <tr>
            <th>Event Id</th>
            <th>Event Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <button>Create</button>
</script>

<script type="text/template" id="row_template">
    <td><%= id %></td>
    <td><%= eventName %></td>
    <td>
        <a data-eventid="<%= id %>" class="icon-pencil"></a>
        <a data-eventid="<%= id %>" class="icon-trash-empty"></a>
    </td>
</script>








<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20140204/json2.min.js"></script>-->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>

<!--http://stackoverflow.com/questions/5257923/how-to-load-local-script-files-as-fallback-in-cases-where-cdn-are-blocked-unavai/5531821-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"
        type="text/javascript"></script>
<script type="text/javascript">
    (typeof(_) === "undefined") &&
    document.writeln('<script src="bower_components/underscore/underscore-min.js" type="text/javascript"><\/script>')
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.0/backbone-min.js" type="text/javascript"></script>
<script type="text/javascript">
    (typeof(Backbone) === "undefined") &&
    document.writeln('<script src="bower_components/backbone/backbone-min.js" type="text/javascript"><\/script>')
</script>


<!--replacing it with the core of backbone marionette which does not include babysitter, neither wreqr-->
<!--<script src="bower_components/marionette/lib/backbone.marionette.js" type="text/javascript"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.4.1/core/backbone.marionette.min.js"
        type="text/javascript"></script>
<script type="text/javascript">
    (typeof(Marionette) === "undefined") &&
    document.writeln('<script src="bower_components/marionette/lib/core/backbone.marionette.min.js" type="text/javascript"><\/script>')
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.babysitter/0.1.6/backbone.babysitter.min.js"
        type="text/javascript"></script>
<script type="text/javascript">
    (typeof(Backbone.ChildViewContainer) === "undefined") &&
    document.writeln('<script src="bower_components/backbone.babysitter/lib/backbone.babysitter.min.js" type="text/javascript"><\/script>')
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.radio/0.9.0/backbone.radio.min.js"
        type="text/javascript"></script>
<script type="text/javascript">
    (typeof(Backbone.Radio) === "undefined") &&
    document.writeln('<script src="bower_components/backbone.radio/build/backbone.radio.min.js" type="text/javascript"><\/script>')
</script>

<script type="text/javascript" src="js/vendor/radio.shim.js"></script>
<script type="text/javascript" src="ts/typescript.js"></script>

<script type="text/javascript" src="ts/models/EventModel.js"></script>
<script type="text/javascript" src="ts/collections/EventCollection.js"></script>
<script type="text/javascript" src="ts/traits/ViewTraits.js"></script>
<script type="text/javascript" src="ts/compositeviews/MyCompView.js"></script>
<script type="text/javascript" src="ts/itemviews/RowItemView.js"></script>

<script type="text/javascript" src="ts/table.js"></script>

</body>
</html>
